@use "../../abstract/index" as *;

body {
    height: 5000px;
}
#About {
    .base {
        .row-1 {
            > .part {
                &.part-left {
                    @include flex;
                    .item {
                        .titleContainer{
                            margin-bottom: 0.5rem;
                            @include flex;
                            justify-content: flex-start;
                            gap: 10px;
                            .title-section {
                                font-size: 40px;
                                font-weight: 500;
                                margin-bottom: 0;
                            }
                            img {
                                width: 60px;
                            }
                        }
                        .text-section {
                            color: rgb(123, 123, 123);
                        }
                        .row-2 {
                            .box {
                                > .item {
                                    .part {
                                        &.part-top {
                                            padding: 20px 20px 21px;
                                            
                                            border-left: 8px solid #acacac;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;
                                            cursor: pointer;
                                            position: relative;
                                            transition-duration: 0.4s;
                                            h4{
                                                color:#acacac!important;
                                                font-weight: 400;
                                                font-size: 22px;
                                                transition-duration: 0.4s;
                                            }
                                            .question {
                                                color: var(--text-primary);
                                                text-transform: capitalize;
                                                letter-spacing: 0.5px;
                                            }
                                            .icon {
                                                .arrow {
                                                    color: #acacac;
                                                    transition-duration: 0.4s;
                                                    
                                                    transform: rotate(0deg);
                                                    
                                                }
                                            }
                                        }
                                        &.part-bottom {
                                            position: relative;
                                            max-height: 0;
                                            overflow: hidden;
                                            transform: translateY(-5px);
                                            transition: max-height 0.4s  linear;
                                            .item {
                                                background-color: #e9e7e7;
                                                margin-block: 1.5rem;
                                                padding: 20px;
                                                height: max-content;
                                                p {
                                                }

                                                .row {
                                                    .counter {
                                                        h6 {
                                                        }

                                                        ul {
                                                            li {
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.active {
                                        .part.part-top {
                                            border-color: #2e295e;
                                            h4{
                                                color: #2e295e!important;
                                            }
                                            .icon {
                                                .arrow {
                                                    color: #2e295e;
                                                    transform: rotate(90deg);
                                                    
                                                }
                                            }
                                        }
                                        .part.part-bottom {
                                            max-height: 400px;
                                            transition: max-height 0.4s 0.3s linear;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.part-right {
                    @include flex;
                    .item {
                        @include flex;
                        width: 55%;

                        img {
                            transition: opacity 1s ease-in-out;
                            width: 240px;
                            &.fade-out {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
